In [15]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [1]:
import json
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [15]:
with open(file='seven_test.json', mode='r', encoding='utf-8') as reader:
    store_list = json.load(reader)
temptab = pd.DataFrame.from_dict(store_list)
temptab.head()

  name                     address
0   中坡             台北市南港區中坡南路47號1樓
1   中研  台北市南港區研究院路二段128號1樓(學術活動中心)
2   中貿            台北市南港區經貿二路186號2樓
3   玉成          台北市南港區西新里南港路三段3號1樓
4   玉德             台北市南港區玉成街150號1樓

In [16]:
print('number of seven list: ' + str(len(temptab)))

number of seven list: 10

In [9]:
pos_matrix = {}
for i in store_list:
    pos_matrix[i['name']] = {}
    pos_matrix[i['name']]['longitude'] = 0
    pos_matrix[i['name']]['latitude'] = 0

## Convert to number

In [10]:
def STR_to_NUM(data):
    line = tuple(data.split(','))
    num1 = float(line[1])
    num2 = float(line[2])
    line = [num1, num2]
    return line

## Get position

In [11]:
def get_position(soup):
    # find the html contents
    doc = soup.prettify()
    # find the position where we need
    initial_pos = doc.find(";window.APP_INITIALIZATION_STATE")
    # capture the range text we need
    data = doc[initial_pos+36:initial_pos+85]
    return STR_to_NUM(data)

## Main

In [12]:
# for url template
template = 'https://www.google.com/maps/place?q={}'
# construct the position matrix
for i, a_store in enumerate(store_list):
    # visit the web
    url = template.format(a_store['address'])
    response = requests.get(url)
    
    # request NOT OK, BREAK!
    if response.status_code != 200:
        print('I\'m a robot')
        break
        
    # if request OK
    # extract link to tree structure
    soup = BeautifulSoup(response.text, 'html.parser')
    pos = get_position(soup)
    
    
    pos_matrix[a_store['name']]['longitude'] = pos[0]
    pos_matrix[a_store['name']]['latitude'] = pos[1]
    # print the process
    print('process: '+str((i+1)/len(store_list)))
    print('{}: ({}, {})'.format(a_store['name'], pos[0], pos[1]))
    print('-'*50)

print('Done!')

process: 0.1
中坡: (121.58143411500649, 25.042978383)
--------------------------------------------------
process: 0.2
中研: (121.60985311500639, 25.0426739839)
--------------------------------------------------
process: 0.3
中貿: (121.61276961500681, 25.05883328)
--------------------------------------------------
process: 0.4
玉成: (121.5900314150067, 25.054057783)
--------------------------------------------------
process: 0.5
玉德: (121.58145431500655, 25.04500058)
--------------------------------------------------
process: 0.6
向揚: (121.5921428150067, 25.0557936839)
--------------------------------------------------
process: 0.7
庄研: (121.6147090150063, 25.03831738397)
--------------------------------------------------
process: 0.8
佳樂: (121.60555001500666, 25.05436538)
--------------------------------------------------
process: 0.9
忠陽: (121.59184411500658, 25.05065188)
--------------------------------------------------
process: 1.0
昆陽: (121.59188351500664, 25.05016398)
--------------------------------------------------
Done!

In [13]:
pd.DataFrame.from_dict(pos_matrix)

,中坡,中研,中貿,玉成,玉德,向揚,庄研,佳樂,忠陽,昆陽
longitude,121.581434,121.609853,121.612770,121.590031,121.581454,121.592143,121.614709,121.605550,121.591844,121.591884
latitude,25.042978,25.042674,25.058833,25.054058,25.045001,25.055794,25.038317,25.054365,25.050652,25.050164

In [14]:
with open(file='position_test.json', mode='w', encoding='utf-8') as writer:
    json.dump(obj=pos_matrix, fp=writer, indent=4)

## Reference
https://richard98hess444.medium.com/python%E7%88%AC%E8%9F%B2-google-maps-%E5%9C%B0%E6%A8%99%E8%88%87%E5%9C%B0%E5%9D%80%E8%BD%89%E7%B6%93%E7%B7%AF%E5%BA%A6-b63eea8d8ca7